<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="com.example.picasso">
    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Picasso"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".StudyRecommendActivity"
            android:exported="false" />

        <activity
            android:name=".UserInfoActivity"
            android:exported="false" />

        <activity
            android:name=".WeatherMoodActivity"
            android:exported="false" />
        <activity
            android:name=".ZoomLayout"
            android:exported="false" />

        <activity
            android:name=".PicturesActivity"
            android:exported="false" />

        <activity
            android:name=".SignupPage"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LoginPage"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".gallery"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StatisticsActivity"
            android:exported="false" />

        <activity
            android:name=".DiaryActivity"
            android:exported="false" />

        <activity
            android:name=".signInActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>